<!-- <main>
  <div *ngIf="inSession == false">
  <button (click)=getVideoSDKJWT()>Join Session</button>
  </div>
  <div *ngIf="inSession == true"> -->
  <!-- <div id="sessionContainer">
    <div className='left'>
      <div id='chatContainer'></div>
   </div>
   <div className='right'>
      <div id='videoContainer'></div>
      <div id='controlsContainer'></div>
   </div>
  </div> -->

 <!--  </div>
</main> -->

  <!-- <div id='uitoolkitContainer'>
      <div id='videoContainer'></div>
      <div id='chatContainer'></div>
  </div> -->



  <div id="sessionContainer">
    <div className='left'>
       <div id='chatContainer'></div>
    </div>
    <div className='right'>
       <div id='videoContainer'></div>
       <div id='controlsContainer'></div>
    </div>
  </div>